version: '3'
services:
  # available by: http://localhost:18080/nifi-registry
  nifi-registry:
    image: apache/nifi-registry:latest
    container_name: nifi-registry
    restart: unless-stopped
    ports:
      - 18080:18080
    environment:
      LOG_LEVEL: INFO
      NIFI_REGISTRY_DB_DIR: /opt/nifi-registry/database
      NIFI_REGISTRY_FLOW_PROVIDER: file
      NIFI_REGISTRY_FLOW_STORAGE_DIR: /opt/nifi-registry/flow_storage
    volumes:
      - ./nifi/nifi-registry/database:/opt/nifi-registry/database
      - ./nifi/nifi-registry/flow_storage:/opt/nifi-registry/flow_storage

  nifi:
    # available by: https://localhost:8443/nifi
    image: apache/nifi:latest
    container_name: nifi
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 8443:8443/tcp
    volumes:
      - ./nifi/database_repository:/opt/nifi/nifi-current/database_repository
      - ./nifi/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - ./nifi/content_repository:/opt/nifi/nifi-current/content_repository
      - ./nifi/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - ./nifi/state:/opt/nifi/nifi-current/state
      - ./nifi/logs:/opt/nifi/nifi-current/logs
      - ./dtm-jdbc-6.3.0.jar:/opt/nifi/nifi-current/dtm-jdbc-6.3.0.jar
    environment:
      SINGLE_USER_CREDENTIALS_USERNAME: admin
      SINGLE_USER_CREDENTIALS_PASSWORD: 1234567891011